/src/ProjectManager/bin
/src/ProjectManager/obj
/src/ProjectManagerGUI/bin
/src/ProjectManagerGUI/obj
/src/ProjectManagerWPF/bin
/src/ProjectManagerWPF/obj
/src/_ReSharper.*
/src/*resharper*
/src/*.suo