/src/ProjectManager/bin
/src/ProjectManager/obj
/src/ProjectManager.Tests/bin
/src/ProjectManager.Tests/obj
/src/ProjectManagerGUI/bin
/src/ProjectManagerGUI/obj
/src/ProjectManagerWPF/bin
/src/ProjectManagerWPF/obj
/src/_ReSharper.*
/src/*resharper*
/src/*.suo
/src/**/*.csproj.user